<?xml version="1.0"?>

<config>
    <modules>
        <Werd_Layoutelements>
            <version>0.0.1</version>
        </Werd_Layoutelements>
    </modules>
    <global>
        <models>
            <werd_layoutelements>
                <class>Werd_Layoutelements_Model</class>
            </werd_layoutelements>
        </models>
        <helpers>
            <werd_layoutelements>
                <class>Werd_Layoutelements_Helper</class>
            </werd_layoutelements>
        </helpers>
        <blocks>
            <werd_layoutelements>
                <class>Werd_Layoutelements_Block</class>
            </werd_layoutelements>
            <ultramegamenu>
                <rewrite>
                    <navigation>Werd_Layoutelements_Block_Ultramegamenu_Navigation</navigation>
                </rewrite>
            </ultramegamenu>
            <checkout>
                <rewrite>
                    <links>Werd_Layoutelements_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <werd_layoutelements_setup>
                <setup>
                    <module>Werd_Layoutelements</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </werd_layoutelements_setup>
        </resources>
        <page>
            <layouts>
                <homepage translate="label">
                    <label>Homepage</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>custom_homepage_handle</layout_handle>
                </homepage>
            </layouts>
        </page>
    </global>
    <frontend>
        <layout>
            <updates>
                <wearedigital_layoutelements>
                    <file>elements.xml</file>
                </wearedigital_layoutelements>
            </updates>
        </layout>
    </frontend>
</config>